# Git LFS tracked file types
*.ttf filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.ICO filter=lfs diff=lfs merge=lfs -text

# UTF-16 encoded files
*.rc working-tree-encoding=UTF-16
*.RC working-tree-encoding=UTF-16