/**
 * @file        version.rc
 * @brief       HyraxRail resource script. Adds version info and icon to exe
 * @author      Justin Scott
 * @date        2026-03-07
 *
 * @copyright   Copyright (c) 2026 Justin Scott
 */

#include "version.h"

#include <windows.h>

IDI_ICON1               ICON                    "icons\\app\\conductor-hyrax.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x0L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN

        // English
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", PRODUCT_NAME_FULL
            VALUE "FileVersion", VERSION_STRING
            VALUE "ProductName", PRODUCT_NAME_FULL
            VALUE "ProductVersion", VERSION_STRING
            VALUE "LegalCopyright", COPYRIGHT
            VALUE "OriginalFilename", "HyraxRail.exe"
        END

        // Vietnamese
        BLOCK "042A04B0"
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", "Đường Sắt Hyrax"
            VALUE "FileVersion", VERSION_STRING
            VALUE "ProductName", "Đường Sắt Hyrax"
            VALUE "ProductVersion", VERSION_STRING
            VALUE "LegalCopyright",  "Bản Quyền " COPYRIGHT_SYMBOL " 2026 Justin H. Scott"
            VALUE "OriginalFilename", "HyraxRail.exe"
        END

        // French
        BLOCK "040C04B0"
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", "Râle Daman"
            VALUE "FileVersion", VERSION_STRING
            VALUE "ProductName", "Râle Daman"
            VALUE "ProductVersion", VERSION_STRING
            VALUE "LegalCopyright",  "Droit D'Auteur " COPYRIGHT_SYMBOL " 2026 Justin H. Scott"
            VALUE "OriginalFilename", "HyraxRail.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",
        0x409, 0x4B0,   // English (US)
        0x42A, 0x4B0,   // Vietnamese
        0x40C, 0x4B0    // French
    END
END
